<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-5">
            <div class="mdc-card">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--span-8-tablet">
                    
                    <h6 class="card-title">Detalle Factura (Ahora no se puede probar)</h6>
                    <form action="/detalle_factura/add" method="POST">
                        <div class="template-demo">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                    <div class="mdc-text-field w-100">
                                        <input class="mdc-text-field__input" id="text-field-hero-input" name="id_boleto" value="1"/>
                                        <div class="mdc-line-ripple"></div>
                                        <label for="text-field-hero-input" class="mdc-floating-label">Id_Boleto</label>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                    <div class="mdc-text-field w-100">
                                        <input class="mdc-text-field__input" id="text-field-hero-input" name="id_factura" value="000001"/>
                                        <div class="mdc-line-ripple"></div>
                                        <label for="text-field-hero-input" class="mdc-floating-label">Id_Factura</label>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                    <div class="mdc-text-field w-100">
                                        <input class="mdc-text-field__input" id="text-field-hero-input" name="numero" value="200"/>
                                        <div class="mdc-line-ripple"></div>
                                        <label for="text-field-hero-input" class="mdc-floating-label">Número</label>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                    <div class="mdc-text-field w-100">
                                        <input class="mdc-text-field__input" id="text-field-hero-input" name="cod_boleto" value="R001-001"/>
                                        <div class="mdc-line-ripple"></div>
                                        <label for="text-field-hero-input" class="mdc-floating-label">Cod_Boleto</label>
                                    </div>
                                </div>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
                                    <div class="template-demo">
                                        <button type="submit"
                                            class="mdc-button mdc-button--unelevated filled-button--success">
                                            Guardar
                                        </button>
                                        <button type="reset"
                                            class="mdc-button mdc-button--raised filled-button--warning">
                                            Cancelar
                                        </button>
                                        <!--<button class="mdc-button mdc-button--raised filled-button--secondary">
                                            Eliminar
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>