<% layout('../layout') %>

    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-12 col-xxl-10 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
                    <div class="mdc-card p-0 to-do-list">
                        <div class="d-flex back__head text-white to-do-list-header">
                            <h4 class="card-title">Alta Sucursal</h4>
                        </div>
                        <div class="mdc-card">

                            <form class="needs-validation" novalidate action="/sucursales/add" method="POST">
                                <div class="row">
                                    <div class="col col-md-4 mb-4">
                                        <label for="nombre">Nombre de la Sucursal</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="50" required onkeyup="errorHandler('sucursales','counterN','nombre',null)">
                                        <label for="nombre" id="counterN">0/50</label>
                                        <div class="invalid-feedback">
                                            Este campo debe ser completado
                                        </div>


                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <label for="nombre">Teléfeno</label>
                                        <input type="text" class="form-control" id="telefono" maxlength="14" name="telefono" required onkeyup="errorHandler('sucursales','counterT','telefono',null)">
                                        <label for="nombre" id="counterT">0/14</label>

                                        <div class="invalid-feedback">
                                            Este campo debe ser completado
                                        </div>
                                        <br>

                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <label for="munucipio">Departamento y Municipio</label>
                                        <div class="rounded" id="bordeM">
                                            <select class="municipios" name="id_municipio" id="municipio" required onchange="errorHandler('sucursales','bordeM','municipio',null)"></select>

                                            <label class="valid-feedback" for="municipio"> </label>


                                            <label class="invalid-feedback" for="municipio">
                                                    Este campo debe ser completado</label >
                                        </div>

                                        <div class="invalid-feedback">
                                            Este campo debe ser completado
                                        </div>
                                    </div>
                                    <div class="row">
                                         <div class="col col-md-12 mb-12">
                                        <label for="nombre">Dirección</label>
                                            <input type="text" class="form-control" id="direccion" maxlength="200" name="direccion" required onkeyup="errorHandler('sucursales','counterD','direccion',null)">
                                            <label for="nombre" id="counterD">0/200</label>

                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>
                                            <br>

                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
                                    <div class="template-demo">
                                        <button type="submit" class="mdc-button mdc-button--unelevated">
                                            <i class="material-icons">save</i>&nbsp;&nbsp;Guardar
                                            </button>
                                        <button type="reset" class="mdc-button mdc-button--warning">
                                                <i class="material-icons">cancel</i>&nbsp;Cancelar
                                            </button>
                                        <a class="mdc-button mdc-button--unelevated filled-button--success" href='/sucursales'><i class="material-icons">arrow_back</i>&nbsp;Volver
                                            </a>
                                    </div>
                                </div>
                        </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--SCRIPT-->
    <% block('footerjs', `<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
     <script>
       $(document).ready( () => {    
         //funcion para llamar los categorias
         $('.municipios').select2({      
           language: {
     
           noResults: function() {
     
           return "No hay resultado";        
           },
           searching: function() {
     
           return "Buscando..";
           }
           },
           placeholder: "Selecione el Departamento y Muncipio",
           width: '100%',      
           ajax: {        
               url: '/municipios/list',        
               dataType: 'json',                  
               data: (params) => {          
                 return {            
                   q: params.term,             
                   page: params.page          
                 };        
               },        
               processResults: (data, params) => {          
               return {            
                   results: data,          
               };        
               },        
               cache: true             
             }    
           });
           
       });
     
       
             </script>`) 
     -%>
        <script>
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    var municipio = document.getElementById('municipio');
                    var bordeM = document.getElementById('bordeM');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                                if (municipio.value === '') {
                                    bordeM.classList.add('border__select__error');

                                }
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>