<% layout('../layout') %>
    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-10 col-xxl-8 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
                    <div class="mdc-card p-0 to-do-list">
                        <div class="d-flex back__head text-white to-do-list-header">
                            <h2>Alta Rol</h2>
                        </div>
                        <div class="mdc-card">
                            <form action="/roles/add" method="POST" novalidate class="needs-validation">
                                <div class="row">

                                    <div class="col col-md-12 mb-12">
                                        <label for="nombre">Nombre del Rol</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" maxlength="45" required onkeyup="errorHandler('roles','counterN','nombre',null)">
                                        <label for="nombre" id="counterN">0/45</label>
                                        <div class="invalid-feedback">
                                            Este campo debe ser completado
                                        </div>

                                    </div>
                                </div>
                                <br>

                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                    <div class="template-demo">
                                        <button type="submit" class="mdc-button mdc-button--unelevated">
                                          <i class="material-icons">save</i>&nbsp;&nbsp;Guardar
                                        </button>
                                        <button type="reset" class="mdc-button mdc-button--warning">
                                            <i class="material-icons">cancel</i>&nbsp;Cancelar
                                            </button>
                                        <a class="mdc-button mdc-button--unelevated filled-button--success" href='/roles'><i class="material-icons">arrow_back</i>&nbsp;Volver
                                           </a>
                                    </div>
                                </div>

                            </form>
                            <!--<form action="/roles/add" method="POST" id="form">
                                <div class="template-demo">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="nombre" name="nombre" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Nombre del Rol</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                            <div class="template-demo">
                                                <button type="submit" class="mdc-button mdc-button--unelevated">
                                                  <i class="material-icons">save</i>&nbsp;&nbsp;Guardar
                                                </button>
                                                <button type="reset" class="mdc-button mdc-button--warning">
                                                    <i class="material-icons">cancel</i>&nbsp;Cancelar
                                                    </button>
                                                <a class="mdc-button mdc-button--unelevated filled-button--success" href='/roles'><i class="material-icons">arrow_back</i>&nbsp;Volver
                                                   </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>