<% layout('../layout') %>
    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-10 col-xxl-8 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
                    <div class="mdc-card p-0 to-do-list">
                        <div class="d-flex back__head text-white to-do-list-header">
                            <h4 class="card-title">Alta Contrato </h4>
                        </div>
                        <div class="mdc-card">
                            <form action="/contratos/add" method="POST">
                                <div class="template-demo">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="nombre" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Nombre de la Jornada</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="num_horas" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Número de Horas</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop">
                                            <div class="mdc-text-field w-100">
                                                <input class="mdc-text-field__input" id="text-field-hero-input" name="observaciones" />
                                                <div class="mdc-line-ripple"></div>
                                                <label for="text-field-hero-input" class="mdc-floating-label">Observaciones</label>
                                            </div>
                                        </div>
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                            <div class="template-demo">
                                                <button type="submit" class="mdc-button mdc-button--unelevated">
                                              <i class="material-icons">save</i>&nbsp;&nbsp;Guardar
                                            </button>

                                                <button type="reset" class="mdc-button mdc-button--warning">
                                                <i class="material-icons">cancel</i>&nbsp;Cancelar
                                              </button>
                                                <a class="mdc-button mdc-button--unelevated filled-button--success" href='/contratos'><i class="material-icons">arrow_back</i>&nbsp;Volver
                                                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>