<% layout('../layout_public') -%>
    <div class="container">
        <br>
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/demos/demo-6/sobre-nosotros.svg')">


        </div>

        <!-- End .page-header -->
    </div>
    <!-- End .container -->
    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Misión</h2>
                    <!-- End .title -->
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero
                        sodales leo, eget blandit nunc tortor eu nibh. </p>
                </div>
                <!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <h2 class="title">Visión</h2>
                    <!-- End .title -->
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. <br>Praesent elementum hendrerit tortor. Sed semper
                        lorem at felis. </p>
                </div>
                <!-- End .col-lg-6 -->
            </div>
            <!-- End .row -->

            <div class="mb-5"></div>
            <!-- End .mb-4 -->
        </div>
        <!-- End .container -->
    </div>