<% layout('../layout_public') -%>
    <div class="container">
        <br>
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/demos/demo-6/contacto.svg')">


        </div>

        <!-- End .page-header -->
    </div>
    <div class="page-content pb-0">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1">Información de Contacto</h2>
                    <!-- End .title mb-2 -->
                    <p class="mb-3">Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                    <div class="row">
                        <h3>Estamos Ubicados</h3>
                        <div class="col-sm-7">

                            <div class="contact-info">

                                <h3>Oficinas Pricipales</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-map-marker"></i> Chalatenango, Bario el centro, calle #23
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                        <a href="tel:#">2301-2332</a>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <a href="mailto:#">contacto@brujirifas.com</a>
                                    </li>
                                </ul>
                                <!-- End .contact-list -->
                            </div>
                            <!-- End .contact-info -->
                        </div>
                        <!-- End .col-sm-7 -->

                        <div class="col-sm-5">
                            <div class="contact-info">
                                <h3>Horarios</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-clock-o"></i>
                                        <span class="text-dark">Lunes a Viernes</span> <br>8:00 am-5:00 pm</li>
                                    <li>
                                        <i class="icon-calendar"></i>
                                        <span class="text-dark">Sabado</span> <br>8:00 am- 12:00 pm
                                    </li>
                                </ul>
                                <!-- End .contact-list -->
                            </div>
                            <!-- End .contact-info -->
                        </div>
                        <!-- End .col-sm-5 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <h2 class="title mb-1">Tienes Dudas?</h2>
                    <!-- End .title mb-2 -->
                    <p class="mb-2">Rellena el formulario para que nuestro equipo resuelva tus dudas</p>

                    <form action="#" class="contact-form mb-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="cname" class="sr-only">Nombre</label>
                                <input type="text" class="form-control" id="cname" placeholder="Nombre *" required>
                            </div>
                            <!-- End .col-sm-6 -->


                            <!-- End .col-sm-6 -->
                        </div>
                        <!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only">Correo</label>
                                <input type="email" class="form-control" id="cemail" placeholder="Correo *" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="cphone" class="sr-only">Teléfono</label>
                                <input type="tel" class="form-control" id="cphone" placeholder="Telefono">
                            </div>
                            <!-- End .col-sm-6 -->


                            <!-- End .col-sm-6 -->
                        </div>
                        <!-- End .row -->

                        <label for="cmessage" class="sr-only">Dudas</label>
                        <textarea class="form-control" cols="30" rows="4" id="cmessage" required placeholder="Escribe tus duda *"></textarea>

                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                            <span>Enviar</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form>
                    <!-- End .contact-form -->
                </div>
                <!-- End .col-lg-6 -->
            </div>
            <!-- End .row -->

        </div>

    </div>