<% layout('../layout_public') -%>
    <div class="container">
        <br>
        <div class="page-header page-header-big text-center" style="background-image: url('assets/images/demos/demo-6/legal.svg')">


        </div>

        <!-- End .page-header -->
    </div>
    <div class="page-content pb-0">

        <div class="container">
            <div class="col-12">

                <!-- End .title mb-3 -->
            </div>
            <div class="row">


                <div class="col-md-12">
                    <ul class="nav nav-pills justify-content-center" id="tabs-6" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-21-tab" data-toggle="tab" href="#tab-21" role="tab" aria-controls="tab-21" aria-selected="true">Información Legal</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="tab-22-tab" data-toggle="tab" href="#tab-22" role="tab" aria-controls="tab-22" aria-selected="false">Terminos y Condiciones</a>
                        </li>-->

                    </ul>
                    <div class="tab-content" id="tab-content-6">
                        <div class="tab-pane fade show active" id="tab-21" role="tabpanel" aria-labelledby="tab-21-tab">
                            <div class="text-center">
                                <span class="title">Bases Para Participar En Las Rifas</span><br>
                                <span class="title-sm">Quienes Pueden Participar</span>
                                <!-- End .title -->
                                <p class="title-desc ">
                                    Toda persona natural mayor de 18 años, residente legalmente en El Salvador.

                                </p>
                                <br>
                                <span class="title-sm">Vigencia Promocional</span>
                                <p class="title-desc ">En las especificaciones de la rifa se encuentra la fecha que inicia la venta de los boletos y la fecha de cierre para la venta de los boletos y la fecha en que se realizará el sorteo.
                                </p>
                                <br>
                                <span class="title-sm">Entrega de los Premios</span>
                                <p class="title-desc">
                                    a) Mecánica de elección del ganador, entre los números participantes a través de la APP, el sorteo sacará aleatoriamente el número de boleto ganador.

                                </p>
                                <p class="title-desc">
                                    b) Tiempo de entrega del premio se especificará en la descripción de la rifa, al ganador se le comunicará a través de un mensaje por whatsapp, correo electrónico y se mantendrá por un período publicado en la página web.
                                </p>
                                <br>
                                <span class="title-sm">Reglas Para el Reclamo del Premios</span>
                                <p class="title-desc">
                                    El ganador deberá contestar el correo electrónico o mensaje a través de whatsapp, porque nos tendrá que proporcionar más datos personales, le informaremos que documentos debe presentar, le informaremos a cual tienda podrá apersonarse para retirar su premio,
                                    ya que contaremos por lo menos con tres tiendas: zona central, occidental y oriental del país.

                                </p>
                                <br>
                                <span class="title-sm">De la Responsabilidad, Condiciones Y Restricciones del Patrocinador</span>
                                <p class="title-desc">
                                    Es responsabilidad personal del participante entender las normas legales, porque de haber alguna inconsistencia en la información proporcionada, la empresa se exime de la responsabilidad de la entrega del premio.

                                </p>
                                <p class="title-desc">
                                    En caso de modificación a las bases para participar, la empresa Bruji Rifas comunicará a los participantes, por medio de un mensaje whatsapp o correo electrónico.

                                </p>

                            </div>


                        </div>
                        <!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="tab-22" role="tabpanel" aria-labelledby="tab-22-tab">

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget
                                felis facilisis fermentum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum facere blanditiis reprehenderit cupiditate impedit, dicta dolorem veritatis tenetur culpa illum, explicabo laudantium perferendis
                                saepe amet beatae! Dolores, iure veniam! Velit ducimus tempore vel optio dolore facere ullam reiciendis, impedit, quae, officia aliquid accusamus labore voluptas eius recusandae suscipit consectetur reprehenderit! Magnam
                                voluptas praesentium, sequi autem laborum id eius totam? Neque quo vero fuga nobis repudiandae tempore obcaecati ipsa vitae officiis blanditiis veniam dolor eos in laborum exercitationem corrupti explicabo, possimus reprehenderit?
                                Perferendis, aperiam! Beatae placeat mollitia eius nemo tempora? Possimus voluptates eos, ex asperiores, quaerat eligendi voluptas nesciunt at nisi sequi nulla atque expedita ratione adipisci, ducimus explicabo? Saepe,
                                labore. Beatae inventore corporis sit itaque officia quaerat dignissimos facere. Libero numquam, possimus iusto id vero at cupiditate minus laboriosam consectetur quis perferendis maiores nisi eum. Laudantium itaque molestias
                                aut ab dignissimos magnam maiores facere, provident sapiente voluptatum, reiciendis ratione. Facere excepturi dolores cum quis maxime ut. Eveniet fugiat laboriosam maiores exercitationem illum veritatis aliquid distinctio?
                                Mollitia cumque error unde? Atque saepe sint aut eos labore deserunt quibusdam nostrum officiis! Molestiae, expedita ratione! Et, odit? Dolores deleniti animi magni commodi reiciendis totam minus? Qui saepe soluta, reiciendis
                                ut labore a temporibus fugit velit repellendus dolorum laborum corporis quas, officia non? Cum, necessitatibus error hic, facilis neque veritatis qui eaque maxime dicta nobis maiores? Unde facilis consectetur, itaque sint
                                tempora recusandae vero. Placeat, consequuntur vel rem sit repellat ratione consequatur totam. Enim laudantium modi eum ex officiis facere ipsum laborum! Perspiciatis iure blanditiis nisi et sint magni molestias deserunt
                                quaerat assumenda, numquam optio beatae obcaecati rem, rerum temporibus eveniet earum suscipit. Unde quasi itaque nam numquam ad provident, cumque dolorum maxime tempora quis nostrum dolorem repudiandae molestiae, maiores
                                adipisci sequi at fugiat fuga commodi. Temporibus quam illum, atque laborum tenetur aperiam! Repudiandae id quam, perferendis animi, necessitatibus provident maxime corrupti at quae ducimus quod qui porro pariatur minus
                                eveniet temporibus consectetur iure quasi, fugit laboriosam. Reiciendis atque quo consectetur deserunt veritatis? Aliquid quasi harum eos necessitatibus amet itaque illo cumque, optio, earum doloremque similique ipsum!
                                Vel soluta corporis dolore! Repellat ipsum, blanditiis enim nemo soluta a quas ipsa! Reiciendis, ad debitis. Quaerat praesentium qui atque animi repellat maxime incidunt, id asperiores a, fugiat, ducimus corporis alias
                                ea quam porro ad libero voluptatum obcaecati cumque! Ducimus, ab. Nesciunt maxime fugiat vero laborum? Beatae repudiandae officia magni dolorem impedit quia est aperiam adipisci, doloribus esse nemo facere non aliquid,
                                odit at voluptatibus consectetur quo mollitia incidunt nam illum quas eius voluptatem voluptate! Hic. Iusto perspiciatis expedita labore nobis officiis temporibus enim vero. Quod, consequatur magnam aperiam ad quaerat et
                                dolorem aspernatur porro totam reprehenderit dolore in laboriosam sed quo at eos obcaecati veritatis. </p>
                        </div>
                        <!-- .End .tab-pane -->

                        <!-- .End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .col-md-6 -->
                <!-- End .col-md-6 -->

                <!-- End .col-12 -->
            </div>
            <!-- End .row -->

        </div>

    </div>