<% layout('../layout') %>
    <div style="display: block;
margin-left: auto;
margin-right: auto;" class="mdc-layout-grid__cell stretch-card col-md-10 col-xxl-10 mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">

                    <div class="mdc-card p-0 to-do-list">
                        <div class="d-flex back__head text-white to-do-list-header">
                            <h4 class="card-title">Alta Cliente</h4>
                        </div>
                        <div class="mdc-card">

                            <form class="needs-validation" novalidate action="/clientes/add" method="POST">
                                <div class="row ">
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="nombre">Nombres del Cliente</label>


                                            <input type="text" class="form-control" maxlength="45" id="nombres" name="nombres" required onkeyup="errorHandler('clientes','counterN','nombres',null)">
                                            <label for="nombre" id="counterN">0/45</label>
                                            <div class="valid-feedback">

                                            </div>
                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="nombre">Apellidos del Cliente</label>


                                            <input type="text" class="form-control" maxlength="45" id="apellidos" name="apellidos" required onkeyup="errorHandler('clientes','counterA','apellidos',null)">
                                            <label for="nombre" id="counterA">0/45</label>
                                            <div class="valid-feedback">

                                            </div>
                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="nombre">Correo</label>


                                            <input type="email" class="form-control" maxlength="50" id="correo" name="email" required onkeyup="errorHandler('clientes','counterE','correo','invalid')">
                                            <label for="nombre" id="counterE">0/50</label>
                                            <div class="invalid-feedback" id="invalid">
                                                Este campo debe ser completado
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="descripcion">DUI</label>
                                            <input type="text" class="form-control" maxlength="10" id="dui" name="DUI" required onkeyup="errorHandler('clientes','counterD','dui',null)">
                                            <label for="nombre" id="counterD">0/10</label>
                                            <div class="valid-feedback">

                                            </div>
                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="url">Celular</label>
                                            <input type="text" class="form-control" maxlength="8" id="celular" name="celular" required onkeyup="errorHandler('clientes','counterU','celular',null)">
                                            <label for="nombre" id="counterU">0/8</label>
                                            <div class="valid-feedback ">

                                            </div>
                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-md-4 mb-4">
                                        <div>
                                            <label for="url">Fecha de Nacimiento</label>
                                            <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" required onkeyup="errorHandler('clientes',null,'fecha_nac',null)">

                                            <div class="valid-feedback ">

                                            </div>
                                            <div class="invalid-feedback">
                                                Este campo debe ser completado
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                    <div class="template-demo ">
                                        <button type="submit " class="mdc-button mdc-button--unelevated">
                                            <i class="material-icons ">save</i>&nbsp;&nbsp;Guardar
                                        </button>
                                        <button type="reset " class="mdc-button mdc-button--warning">
                                            <i class="material-icons ">cancel</i>&nbsp;Cancelar
                                        </button>
                                        <a class="mdc-button mdc-button--unelevated filled-button--success" href='/clientes'><i class="material-icons">arrow_back</i>&nbsp;Volver</a>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>