<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-desktop stretch-card">
      <div class="mdc-card p-0 to-do-list">
        <div class="d-flex bg-primary text-white to-do-list-header">
          <h2><i class="material-icons">person_add</i> Registro de Clientes</h2>
        </div>
        <div class="mdc-card">
        
        <hr />
        <form action="/clientes/add" method="POST">
          <div class="template-demo">
            <div class="mdc-layout-grid__inner">
          
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input masked" name="nombres" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Nombres</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="apellidos" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Apellidos</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="mdc-layout-grid__inner">
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input
                  class="mdc-text-field__input"
                  type="date"
                  name="fecha_nac"
                />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Fecha de Nacimiento</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="DUI" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >DUI</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="telefono" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Teléfono</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="celular" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Celular</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="mdc-layout-grid__inner">
            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop"
            >
            <div class="mdc-text-field mdc-text-field--outlined">
            
            <select class="js-example-basic-single" name="id_municipio[]">
              
            </select>
            </div>

            </div>

            <div
              class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-9-desktop"
            >
              <div class="mdc-text-field mdc-text-field--outlined">
                <input class="mdc-text-field__input" name="direccion" />
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label
                      for="text-field-hero-input"
                      class="mdc-floating-label"
                      >Direccion</label
                    >
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
          </div>

          <br /><br />
          <button type="submit" class="mdc-button mdc-button--raised">
            <i class="material-icons">save</i> Guardar
          </button>
          <a class="mdc-button mdc-button--raised bg-success" href="/clientes">
            <i class="material-icons">search</i> Buscar
          </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--SCRIPT-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2({
        theme: 'classic',
        width: '100%',
        ajax: {
          url: '/municipios/list',
          dataType: 'json',          
          data: function (params) {
            return {
              q: params.term, // search term
              page: params.page
            };
          },
          processResults: function (data, params) {
            return {
              results: data,
            };
          },
          cache: true
         
        }
      });
  });
  </script>  
